@import url('https://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%7CYanone%20Kaffeesatz%3A700%2C400%2C300%2C200&&display=swap');

/* font-family: 'Yanone Kaffeesatz', sans-serif; */
/* font-family: 'Lato', sans-serif; */
* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}
body {
  @apply font-body text-grey;
  letter-spacing: 0.05em;
}
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
  @apply font-header text-grey;
  text-rendering: optimizelegibility;
  letter-spacing: 1px;
}
.container { @apply w-11/12 mx-auto; max-width:1400px;}
.row { @apply -mx-2 }
.row.gutter-lg {@apply -mx-4}
.col { @apply px-2 }
.row.gutter-lg .col {@apply px-4}